/*
COLORS:

*/

$color-primary: #0a65fc;
//$color-primary-light: #3c85fd;
$color-primary-light: #64b9f7;
$color-primary-light-2: #0a95fc;
//$color-primary-dark: #0350d0;

$color-cornsilk: #fffaef;
//$color-cornsilk-warmer: #fff4c9;
$color-cornsilk-warmest: #fed;

$color-1: #2828fc;
$color-2: #6ad02d; //
//$color-3: #ff489c; // 
//$color-3: #fd4482; // new
$color-3: #fd558d; // lighter than new
//$color-4: #fcd00e; // golden near google
$color-4: #fcd31f; // golden near google, a triffle lighter
$color-5: #3939fc; // = color-1 a triffle lighter
$color-6: #e847d4;
//$color-7: #fca10a; // orange-yellow
$color-7: #fca71b; // orange-yellow lighter
$color-8: #fd7147; //almost coral

$color-white: #fff;
$color-black: #000;

$color-grey-lightest: #f7f7f7;
$color-grey-light: #eee;
$color-grey-medium: #aaa;
$color-grey-dark: #777;
$color-grey-darkest: #333;


//TEXT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;