.form {
    
    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }
    
    &__input {
        font-size: 1.4rem;
        font-family: inherit;
        color: inherit;
        font-weight: 600;
        padding: 1.2rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-cornsilk, .9);
        border: none;
        border-bottom: 2px solid transparent;
        transition: all .3s;
        width: 70%;
        margin: 0 auto;
        display: block;
        
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-primary, .1);
            border-bottom: 2px solid rgba($color-2, .8);
            
            &:invalid {
                border-bottom: 2px solid rgba($color-3, .8);                
            }
        }
    }
    
    &__label {
        font-size: 1rem;
        margin-left: 15%;
        padding-left: 2rem;
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: all .3s;
                
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        transform: translateY(-2rem);
    }
}